<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.kotfu.iterm-toolkit</string>
	<key>connections</key>
	<dict>
		<key>174CD537-DE13-499A-A00E-41FC246DE43D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6218105B-769C-4EF4-9043-CA26953D892A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42BFB972-5198-4114-830F-5347FA3100C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C369E338-4CD5-4D28-9DEC-959796C77DCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F12876A-C84D-4D58-ADD9-119BBF3B9D6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6218105B-769C-4EF4-9043-CA26953D892A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A83D99C-3375-4763-A9B8-37F5D4D26A8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6218105B-769C-4EF4-9043-CA26953D892A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C3FCCC0-751E-4E7C-96AD-8B6F20578B9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B37D23E9-381F-43E4-BB88-64768A812903</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9BC2AE68-91DD-4401-AA48-E27C924F39E6</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D9DF57A-5DF9-5DB9-AB88-88DAC6AD7FB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF506E5C-E831-46D7-B67B-AC367F63630C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Find and open an iTerm profile in a new {var:profile_opens_in}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>42BFB972-5198-4114-830F-5347FA3100C1</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open iTerm profile '{query}' in a new {var:profile_opens_in_opt}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9BC2AE68-91DD-4401-AA48-E27C924F39E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6218105B-769C-4EF4-9043-CA26953D892A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB02EE64-6856-4173-9417-141421D02049</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6218105B-769C-4EF4-9043-CA26953D892A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B37D23E9-381F-43E4-BB88-64768A812903</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6218105B-769C-4EF4-9043-CA26953D892A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D42EB9ED-6F46-4B61-A6D5-6C1EE503F197</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A83D99C-3375-4763-A9B8-37F5D4D26A8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AB02EE64-6856-4173-9417-141421D02049</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>run '{query}' in a new iTerm {var:command_runs_in_opt} using profile {var:command_profile}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD4FF832-E0C3-4235-88E9-8F17142B1BF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>174CD537-DE13-499A-A00E-41FC246DE43D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4F12876A-C84D-4D58-ADD9-119BBF3B9D6E</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF506E5C-E831-46D7-B67B-AC367F63630C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C369E338-4CD5-4D28-9DEC-959796C77DCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kotfu</string>
	<key>description</key>
	<string>Use iTerm easily from within Alfred 5</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>iTerm Toolkit</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:profile_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Retreiving iTerm profiles</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>entrypoint.py</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Enter an iTerm profile name</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7D9DF57A-5DF9-5DB9-AB88-88DAC6AD7FB1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>openprofile.scpt</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C369E338-4CD5-4D28-9DEC-959796C77DCD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>opens_in</key>
					<string>{var:profile_opens_in}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FF506E5C-E831-46D7-B67B-AC367F63630C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>opens_in</key>
					<string>{var:profile_opens_in_opt}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>42BFB972-5198-4114-830F-5347FA3100C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>runs_in</key>
					<string>{var:command_runs_in}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5A83D99C-3375-4763-A9B8-37F5D4D26A8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:command_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>run '{query}' in a new iTerm {var:command_runs_in_opt} using profile {var:command_profile}</string>
				<key>text</key>
				<string>Run A Shell Command in iTerm</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D42EB9ED-6F46-4B61-A6D5-6C1EE503F197</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>runs_in</key>
					<string>{var:command_runs_in_opt}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AB02EE64-6856-4173-9417-141421D02049</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>+public.directory</string>
				</array>
				<key>name</key>
				<string>Open new iTerm session here</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>FD4FF832-E0C3-4235-88E9-8F17142B1BF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>cd {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>runs_in</key>
					<string>{var:command_runs_in}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>174CD537-DE13-499A-A00E-41FC246DE43D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>runshellcommand.scpt</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6218105B-769C-4EF4-9043-CA26953D892A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>cd {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>runs_in</key>
					<string>{var:command_runs_in_opt}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4F12876A-C84D-4D58-ADD9-119BBF3B9D6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Run as shell command in iTerm</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>5C3FCCC0-751E-4E7C-96AD-8B6F20578B9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>runs_in</key>
					<string>{var:command_runs_in}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B37D23E9-381F-43E4-BB88-64768A812903</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>runs_in</key>
					<string>{var:command_runs_in_opt}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9BC2AE68-91DD-4401-AA48-E27C924F39E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># iTerm Toolkit

This Alfred workflow contains several tools to make it easier to work with the excellent [iTerm](https://iterm2.com/) terminal emulator.

## Opening new Profiles

Search through your iTerm profiles using Alfred and easily open one. Useful if you have a lot of profiles, e.g. with an SSH command for each server.


## Running Commands

Alfred includes a feature for opening a terminal window and running shell commands. If
you use iTerm2, this workflow gives you some enhanced options.</string>
	<key>uidata</key>
	<dict>
		<key>174CD537-DE13-499A-A00E-41FC246DE43D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>42BFB972-5198-4114-830F-5347FA3100C1</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>4F12876A-C84D-4D58-ADD9-119BBF3B9D6E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>5A83D99C-3375-4763-A9B8-37F5D4D26A8D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>5C3FCCC0-751E-4E7C-96AD-8B6F20578B9D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Select text and run this Universal Action to run that text as a shell command</string>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>6218105B-769C-4EF4-9043-CA26953D892A</key>
		<dict>
			<key>note</key>
			<string>Script to run a shell command</string>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>7D9DF57A-5DF9-5DB9-AB88-88DAC6AD7FB1</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>9BC2AE68-91DD-4401-AA48-E27C924F39E6</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>785</real>
		</dict>
		<key>AB02EE64-6856-4173-9417-141421D02049</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>B37D23E9-381F-43E4-BB88-64768A812903</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>C369E338-4CD5-4D28-9DEC-959796C77DCD</key>
		<dict>
			<key>note</key>
			<string>Script to open an iTerm profile</string>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>D42EB9ED-6F46-4B61-A6D5-6C1EE503F197</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Type a shell command in alfred and run it</string>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>FD4FF832-E0C3-4235-88E9-8F17142B1BF2</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Select a directory in Alfred and run this action to open a new iterm window in that directory</string>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>FF506E5C-E831-46D7-B67B-AC367F63630C</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>profile</string>
				<key>placeholder</key>
				<string>enter keyword</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword used to initiate search for iterm profiles in alfred</string>
			<key>label</key>
			<string>Profile Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>profile_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>window</string>
				<key>pairs</key>
				<array>
					<array>
						<string>New Tab</string>
						<string>tab</string>
					</array>
					<array>
						<string>New Window</string>
						<string>window</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Choose whether the selected profile opens in a new tab or a new window.</string>
			<key>label</key>
			<string>Profile Opens In</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>profile_opens_in</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>tab</string>
				<key>pairs</key>
				<array>
					<array>
						<string>New Tab</string>
						<string>tab</string>
					</array>
					<array>
						<string>New Window</string>
						<string>window</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Choose whether the selected profile opens in a new tab or a new window when clicked while holding the ⌥ key.</string>
			<key>label</key>
			<string>Profile Opens In Opt</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>profile_opens_in_opt</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>$</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>the keyword to run a shell command</string>
			<key>label</key>
			<string>Command Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>command_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>window</string>
				<key>pairs</key>
				<array>
					<array>
						<string>New Tab</string>
						<string>tab</string>
					</array>
					<array>
						<string>New Window</string>
						<string>window</string>
					</array>
					<array>
						<string>Current Session</string>
						<string>session</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Run commands in a...</string>
			<key>label</key>
			<string>Command Runs In</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>command_runs_in</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>tab</string>
				<key>pairs</key>
				<array>
					<array>
						<string>New Tab</string>
						<string>tab</string>
					</array>
					<array>
						<string>New Window</string>
						<string>window</string>
					</array>
					<array>
						<string>Current Session</string>
						<string>session</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>When the option key is pressed, run commands in</string>
			<key>label</key>
			<string>Command Runs In Opt</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>command_runs_in_opt</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>profile name</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The name of the profile to use to run the shell command. If empty, use the default profile. Ignored if 'Command Runs In' is set to 'Current Session'</string>
			<key>label</key>
			<string>Command Profile</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>command_profile</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>Does iTerm open a new profile when launching?</string>
			<key>label</key>
			<string>iTerm Opens Quietly</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>opens_quietly</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>0</string>
				<key>placeholder</key>
				<string>delay in seconds</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Wait for this many seconds (fractions of a second allowed) before sending input to the shell to run the command. If your shell initialization is complicated, sometimes the input sent from Alfred will be lost. Increase this delay to ensure the input is not lost by the shell.</string>
			<key>label</key>
			<string>Delay Before Typing Command</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>delay_before_typing</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.3.0</string>
	<key>webaddress</key>
	<string>https://github.com/kotfu/alfred-workflow-iterm-toolkit</string>
</dict>
</plist>
